<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.backend.mapper.TDoctorMapper">
  <resultMap id="BaseResultMap" type="com.lgs.backend.pojo.TDoctor">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="sub_id" jdbcType="INTEGER" property="subId" />
    <result column="education" jdbcType="VARCHAR" property="education" />
    <result column="university" jdbcType="VARCHAR" property="university" />
    <result column="major" jdbcType="VARCHAR" property="major" />
    <result column="work_date" jdbcType="DATE" property="workDate" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="level" jdbcType="VARCHAR" property="level" />
    <result column="count" jdbcType="INTEGER" property="count" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lgs.backend.pojo.TDoctor">
    <result column="about" jdbcType="LONGVARCHAR" property="about" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `name`, sex, sub_id, education, university, major, work_date, photo, `level`, 
    `count`
  </sql>
  <sql id="Blob_Column_List">
    about
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_doctor
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_doctor
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.backend.pojo.TDoctor">
    insert into t_doctor (id, `name`, sex, 
      sub_id, education, university, 
      major, work_date, photo, 
      `level`, `count`, about
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR}, 
      #{subId,jdbcType=INTEGER}, #{education,jdbcType=VARCHAR}, #{university,jdbcType=VARCHAR}, 
      #{major,jdbcType=VARCHAR}, #{workDate,jdbcType=DATE}, #{photo,jdbcType=VARCHAR}, 
      #{level,jdbcType=VARCHAR}, #{count,jdbcType=INTEGER}, #{about,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.lgs.backend.pojo.TDoctor">
    insert into t_doctor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="subId != null">
        sub_id,
      </if>
      <if test="education != null">
        education,
      </if>
      <if test="university != null">
        university,
      </if>
      <if test="major != null">
        major,
      </if>
      <if test="workDate != null">
        work_date,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="level != null">
        `level`,
      </if>
      <if test="count != null">
        `count`,
      </if>
      <if test="about != null">
        about,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        #{subId,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        #{education,jdbcType=VARCHAR},
      </if>
      <if test="university != null">
        #{university,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        #{workDate,jdbcType=DATE},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        #{level,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        #{count,jdbcType=INTEGER},
      </if>
      <if test="about != null">
        #{about,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.backend.pojo.TDoctor">
    update t_doctor
    <set>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="subId != null">
        sub_id = #{subId,jdbcType=INTEGER},
      </if>
      <if test="education != null">
        education = #{education,jdbcType=VARCHAR},
      </if>
      <if test="university != null">
        university = #{university,jdbcType=VARCHAR},
      </if>
      <if test="major != null">
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="workDate != null">
        work_date = #{workDate,jdbcType=DATE},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="level != null">
        `level` = #{level,jdbcType=VARCHAR},
      </if>
      <if test="count != null">
        `count` = #{count,jdbcType=INTEGER},
      </if>
      <if test="about != null">
        about = #{about,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lgs.backend.pojo.TDoctor">
    update t_doctor
    set `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      sub_id = #{subId,jdbcType=INTEGER},
      education = #{education,jdbcType=VARCHAR},
      university = #{university,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      work_date = #{workDate,jdbcType=DATE},
      photo = #{photo,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER},
      about = #{about,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.backend.pojo.TDoctor">
    update t_doctor
    set `name` = #{name,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=VARCHAR},
      sub_id = #{subId,jdbcType=INTEGER},
      education = #{education,jdbcType=VARCHAR},
      university = #{university,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      work_date = #{workDate,jdbcType=DATE},
      photo = #{photo,jdbcType=VARCHAR},
      `level` = #{level,jdbcType=VARCHAR},
      `count` = #{count,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>