<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.backend.mapper.TOrderMapper">
  <resultMap id="BaseResultMap" type="com.lgs.backend.pojo.TOrder">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="pat_id" jdbcType="INTEGER" property="patId" />
    <result column="sch_id" jdbcType="INTEGER" property="schId" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pat_id, sch_id, `status`, description
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.backend.pojo.TOrder">
    insert into t_order (id, pat_id, sch_id, 
      `status`, description)
    values (#{id,jdbcType=INTEGER}, #{patId,jdbcType=INTEGER}, #{schId,jdbcType=INTEGER}, 
      #{status,jdbcType=INTEGER}, #{description,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lgs.backend.pojo.TOrder">
    insert into t_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="patId != null">
        pat_id,
      </if>
      <if test="schId != null">
        sch_id,
      </if>
      <if test="status != null">
        `status`,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="patId != null">
        #{patId,jdbcType=INTEGER},
      </if>
      <if test="schId != null">
        #{schId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.backend.pojo.TOrder">
    update t_order
    <set>
      <if test="patId != null">
        pat_id = #{patId,jdbcType=INTEGER},
      </if>
      <if test="schId != null">
        sch_id = #{schId,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        `status` = #{status,jdbcType=INTEGER},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.backend.pojo.TOrder">
    update t_order
    set pat_id = #{patId,jdbcType=INTEGER},
      sch_id = #{schId,jdbcType=INTEGER},
      `status` = #{status,jdbcType=INTEGER},
      description = #{description,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>