<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgs.backend.mapper.TSubjectMapper">
  <resultMap id="BaseResultMap" type="com.lgs.backend.pojo.TSubject">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="sub_code" jdbcType="VARCHAR" property="subCode" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="duty_doctor" jdbcType="VARCHAR" property="dutyDoctor" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lgs.backend.pojo.TSubjectWithBLOBs">
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
    <result column="about" jdbcType="LONGVARCHAR" property="about" />
  </resultMap>
  <sql id="Base_Column_List">
    id, sub_code, `name`, duty_doctor, address, create_time
  </sql>
  <sql id="Blob_Column_List">
    description, about
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_subject
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_subject
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.lgs.backend.pojo.TSubjectWithBLOBs">
    insert into t_subject (id, sub_code, `name`, 
      duty_doctor, address, create_time, 
      description, about)
    values (#{id,jdbcType=INTEGER}, #{subCode,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{dutyDoctor,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{createTime,jdbcType=DATE}, 
      #{description,jdbcType=LONGVARCHAR}, #{about,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lgs.backend.pojo.TSubjectWithBLOBs">
    insert into t_subject
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="subCode != null">
        sub_code,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="dutyDoctor != null">
        duty_doctor,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="about != null">
        about,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="subCode != null">
        #{subCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="dutyDoctor != null">
        #{dutyDoctor,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
      <if test="description != null">
        #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="about != null">
        #{about,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lgs.backend.pojo.TSubjectWithBLOBs">
    update t_subject
    <set>
      <if test="subCode != null">
        sub_code = #{subCode,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="dutyDoctor != null">
        duty_doctor = #{dutyDoctor,jdbcType=VARCHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=LONGVARCHAR},
      </if>
      <if test="about != null">
        about = #{about,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lgs.backend.pojo.TSubjectWithBLOBs">
    update t_subject
    set sub_code = #{subCode,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      duty_doctor = #{dutyDoctor,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE},
      description = #{description,jdbcType=LONGVARCHAR},
      about = #{about,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lgs.backend.pojo.TSubject">
    update t_subject
    set sub_code = #{subCode,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      duty_doctor = #{dutyDoctor,jdbcType=VARCHAR},
      address = #{address,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>