<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>课程列表</title>
    <link rel="stylesheet" th:href="@{/client/css/list.css}"/>
    <script th:src="@{/client/lib/jquery/jquery-3.7.1.min.js}"></script>
    <script th:inline="javascript">
        let ctx = /*[[@{/}]]*/"";
        if (ctx.endsWith("/")) {
            ctx = ctx.substring(0, ctx.length - 1);
        }
    </script>
    <script th:src="@{/client/js/list.js}"></script>
</head>
<body>
<div class="main">
    <ul>
        <li th:each="s:${schedules}" th:attr="id=${s.id}" class="schedule-item">
            <div class="doctor-info">
                <!-- 医生头像 -->
                <img th:src="${s.doctor.photo}" alt="Doctor's Avatar" class="doctor-avatar" />

                <div class="doctor-details">
                    <!-- 医生名字 -->
                    <h2 th:text="${s.doctor.name}"></h2>
                    <!-- 科室 -->
                    <h3 th:text="${s.doctor.subject.name}"></h3>
                    <!-- 医生简介 -->
                    <p class="doctor-bio" th:text="${s.doctor.about}"></p>
                </div>
            </div>

            <div class="schedule-details">
                <!-- 挂号日期 -->
                <p class="work-time" th:text="${s.workTime}"></p>
                <!-- 余号数量 -->
                <p class="remaining-slots">余号: <span th:text="${s.count}"></span></p>
                <!-- 挂号费 -->
                <p class="registration-fee">挂号费: <span th:text="${s.doctor.money}"></span> 元</p>
                <!-- 预约按钮 -->
                <button class="book" type="button">预约挂号</button>
            </div>
        </li>
    </ul>
</div>
</body>
</html>